<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>commUNITY - Home</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap"
      rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"></script>
    <script src="{{ url_for('serve_static', filename='js/colorModes.js') }}"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
  <link rel="stylesheet" href="/static/css/style.css">
  <nav class="navbar navbar-expand-xl bg-body-tertiary shadow" style="position: sticky; top: 0;">
    <div class="container-fluid mx-4">
      <a href="/" class="navbar-logo me-5">
        <img src="/static/images/new logo.png" alt="commUNITY" height="50px">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link" href="#">About</a></li>
        </ul>      
      </div>
    </div>
  </nav>
  <section class="content">
    <header>
      <div class="banner">
        <div class="banner-content">
          <h1 class="display-5">Who are We?</h1>
          <p class="fs-5 jumbotron-desc">
            Scroll down to learn more not only about what we do but also what commUNITY stands for!
          </p>
        </div>
      </div>
    </header>
  </section>

  <div class="row mt-5 mx-5">
    <div class="col-lg-12 my-4">
      <div class="card h-100 text-center">
        <div class="card-body d-flex flex-column justify-content-between align-items-center">
          <h5 class="card-title">What is commUNITY?</h5>
          <p class="card-text text-center">
            &emsp;CommUNITY is a vibrant and compassionate platform dedicated to uniting individuals from diverse backgrounds and empowering them to create lasting change. In collaboration with the MCWS (Muslim Community of Western Suburbs) masjid, our mission extends beyond religion and culture as we strive to make a difference in the lives of individuals and communities.<br><br>
            &emsp;At the core of CommUNITY is our belief in the power of collaboration. Together with MCWS masjid, we address social issues, promote inclusivity, and support those in need. Through local donation drives, we ensure that your contributions reach those who genuinely need them, particularly in Michigan, home to a large refugee population.<br><br>
            &emsp;Volunteering is crucial to our mission. You can actively contribute by helping package donations or assisting in their transportation. We offer flexible scheduling options to accommodate your availability, and volunteering with CommUNITY counts towards fulfilling CAS or NHS hours.<br><br>
            &emsp;We take great care to ensure that donations reach deserving individuals. Working closely with MCWS masjid, we verify the eligibility of recipients, prioritizing those most in need. To further enhance transparency and fairness, we are developing an application system reviewed by a special council appointed by MCWS. This additional step will strengthen our efforts in providing targeted support.<br><br>
            &emsp;Refugees face numerous challenges when starting anew in a different country. In Michigan, we extend support to refugees by providing resources, guidance, and assistance with housing, healthcare, and education. Our partnership with MCWS masjid allows us to ease their transition and empower them towards a brighter future.<br><br>
            &emsp;CommUNITY is a vibrant platform that fosters connections and creates positive impacts. Together with MCWS masjid and our community, we can build a stronger, more connected society where everyone has the opportunity to thrive. This website and concept were developed and are currently managed by Haashir Ahmed, a high school student at Washtenaw International High School.<br><br>
          </p>           
        </div>
      </div>
    </div>
  </div>                 

  <div class="container">
    <h2 class="text-center">FAQ</h2> 
    <div class="accordion" id="faqAccordion">
      <div class="accordion-item">
        <h4 class="accordion-header" id="q1">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#a1" aria-expanded="false" aria-controls="a1">
            How do you ensure donations go to the right people?
          </button>
        </h4>
        <div id="a1" class="accordion-collapse collapse" aria-labelledby="q1" data-bs-parent="#accordion">
          <div class="accordion-body">
            We work closely with MCWS to verify the eligibility of recipients, and only individuals registered as zakat eligible by MCWS can receive donated items.
          </div>
        </div>
      </div>
  
      <div class="accordion-item">
        <h4 class="accordion-header" id="q2">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#a2" aria-expanded="false" aria-controls="a2">
            Will there be an application to join the eligible recipients' list?
          </button>
        </h4>
        <div id="a2" class="accordion-collapse collapse" aria-labelledby="q2" data-bs-parent="#accordion">
          <div class="accordion-body">
            Yes, we are developing an application process, which will be carefully reviewed by a special council appointed by MCWS to determine eligibility based on specific criteria.
          </div>
        </div>
      </div>
  
      <div class="accordion-item">
        <h4 class="accordion-header" id="q3">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#a3" aria-expanded="false" aria-controls="a3">
            How can I contribute as a volunteer?
          </button>
        </h4>
        <div id="a3" class="accordion-collapse collapse" aria-labelledby="q3" data-bs-parent="#accordion">
          <div class="accordion-body">
            You can help package donations at our drop-off centers or assist in transporting donations if you have access to a vehicle. We offer flexible scheduling options to accommodate your availability.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h4 class="accordion-header" id="q4">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#a4" aria-expanded="false" aria-controls="a4">
            What challenges do refugees face in Michigan?
          </button>
        </h4>
        <div id="a4" class="accordion-collapse collapse" aria-labelledby="q4" data-bs-parent="#accordion">
          <div class="accordion-body">
            Refugees in Michigan often struggle to find affordable housing, healthcare, and education. Through our partnership with MCWS, we provide resources and support to ease their transition and empower them on their journey to a better future.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h4 class="accordion-header" id="q5">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#a5" aria-expanded="false" aria-controls="a5">
            Can I donate money instead of physical items?
          </button>
        </h4>
        <div id="a5" class="accordion-collapse collapse" aria-labelledby="q5" data-bs-parent="#accordion">
          <div class="accordion-body">
            **Coming Soon** We understand that some individuals may prefer to contribute financially. We provide a secure online donation platform where you can make monetary donations to support our programs and initiatives. Your financial contributions play a vital role in helping us meet the diverse needs of refugees in our community.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h4 class="accordion-header" id="q6">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#a6" aria-expanded="false" aria-controls="a6">
            Are there specific items you are currently in need of?
          </button>
        </h4>
        <div id="a6" class="accordion-collapse collapse" aria-labelledby="q6" data-bs-parent="#accordion">
          <div class="accordion-body">
            Yes, we maintain a list of urgently needed items on our website. The list is regularly updated to reflect the current needs of refugees. Please check the website or contact us directly to find out which items are currently in high demand. Your donations of these specific items can make a significant impact on the lives of individuals and families in need.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h4 class="accordion-header" id="q7">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#a7" aria-expanded="false" aria-controls="a7">
            How old do I have to be to volunteer?
          </button>
        </h4>
        <div id="a7" class="accordion-collapse collapse" aria-labelledby="q7" data-bs-parent="#accordion">
          <div class="accordion-body">
            Volunteers can participate in our programs and activities starting from the age of 12. However, please note that drivers must be 16 years old or older and hold a valid driver's license. Additionally, depending on the current needs and projects, we may also require a specific set of skills or qualifications for certain volunteer positions. We encourage you to check our volunteering page regularly to stay updated on the available opportunities and requirements.
          </div>
        </div>
      </div> 
      <!-- Add more accordion items with unique IDs as needed -->
  
    </div>
  </div>
  
<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-muted">© 2023 commUNITY</p>

        <a href="{{ url_for('index') }}" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <img src="{{ url_for('serve_static', filename='images/new logo.png') }}" alt="commUNITY Logo" height="40px">
        </a>
        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item" style="padding-right: 1rem;"><a href="{{ url_for('donate') }}" class="dropdown-item">Donate</a></li>
            <li class="nav-item" style="padding-right: 1rem;"><a href="{{ url_for('signup') }}" class="dropdown-item">Sign up for Donations</a></li>
            <li class="nav-item" style="padding-right: 1rem;"><a href="{{ url_for('help') }}" class="dropdown-item">Help Us</a></li>
            <li class="nav-item" style="padding-right: 1rem;"><a href="{{ url_for('contact') }}" class="dropdown-item">Contact Us</a></li>
        </ul>
        
        
    </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
crossorigin="anonymous"></script>
<script>
document.addEventListener('DOMContentLoaded', function () {
  const accordionItems = document.querySelectorAll('.accordion-item');

  accordionItems.forEach(item => {
    const button = item.querySelector('.accordion-button');
    const collapse = item.querySelector('.accordion-collapse');

    button.addEventListener('click', () => {
      collapse.classList.toggle('show');
    });
  });
});
</script>
</body>
</html>