<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WIHI Robotics - Team</title>
    <script src="../../resources/scripts/colorModes.js"></script>
    <link rel="stylesheet" href="../../resources/styles/style.css">
</head>
<body>
    <div class="row g-3">
        <div class="col-lg my-3">
            <div class="card member-card">
                <div class="img-holder">
                    <img src="../../resources/images/people/haashir-ahmed.jpg" class="rounded-start person-img"
                         alt="person">
                </div>
                <div class="card-body person-desc">
                    <h5 class="card-title">Haashir Ahmed</h5>
                    <p class="card-text fs-6 fw-light">
                        Haashir is a diligent hard-worker, dedicated to inspiring his fellow members to success.
                        With experience in programming and robotics competitions, Haashir uses his knowledge and
                        leadership to guide the team to victory.
                    </p>
                </div>
            </div>
        </div>

</body>
</html>
