<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>commUNITY - Home</title>
    <link rel="stylesheet" href="./resources/styles/style.css">
    <script src="./resources/scripts/colorModes.js"></script>
    <script src="./resources/scripts/formsubmission.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg px-5 py-3 fixed-top shadow bg-primary text-white" data-bs-theme="dark">
        <div class="container-fluid">
            <a href="./index.html" class="navbar-brand">
                <img id="logo" src="./resources/images/muslim 4 better.png" alt="Logo" width="75" class="d-inline-block align-text-md">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" style="width: 25px; padding: 1px;">
                    <path fill="#bbb"
                        d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z" />
                </svg>
            </button>
            <div class="offcanvas offcanvas-end fs-5 text" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">commUNITY</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a href="index.html" class="nav-link shrinks active" aria-current="page">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link shrinks dropdown-toggle" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Learn More
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="./pages/about/team.html" class="dropdown-item">Donate</a></li>
                                <li><a href="./pages/about/robot.html" class="dropdown-item">Sign up for Donations</a></li>
                                <li><a href="./pages/about/mission.html" class="dropdown-item">Our Mission</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="./pages/contact.html" class="nav-link shrinks">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a href="./pages/signup.html" class="nav-link shrinks">Sign Up</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <header class="container-fluid px-5 py-5 bg-light text-center">
        <h1 class="display-4">commUNITY</h1>
        <p class="lead">A place to connect and support each other</p>
        <form id="signupForm">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Email" id="emailInput">
                        <button class="btn btn-primary" type="submit">Sign Up</button>
                    </div>
                </div>
            </div>
        </form>
    </header>

    <footer class="bg-dark text-white text-center py-3">
        <p>&copy; 2023 commUNITY. All rights reserved.</p>
    </footer>

    <script src="https://unpkg.com/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-..." crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js"
        integrity="sha384-..." crossorigin="anonymous"></script>
    <script src="./resources/scripts/navShrink.js"></script>
</body>

</html>
